.bg-reason2 {
  width: 55px; height: 57px;
  background: url('../img/sprite.png') -99px -9px;
  margin: 15px auto;
}

.bg-reason1 {
    width: 55px; height: 57px;
    background: url('../img/sprite.png') -272px -1px;
    margin: 15px auto;
}

.bg-reason3 {
  width: 55px; height: 57px;
  background: url('../img/sprite.png') -20px -20px;
  margin: 15px auto;
}

.bg-reason4 {
  width: 55px; height: 57px;
  background: url('../img/sprite.png') -184px -12px;
  margin: 15px auto;
}

.bg-adv1 {
  width: 55px; height: 60px;
  background: url('img/sprite.png') -367px -20px;
  margin: auto;
}


.bg-adv2 {
    width: 55px; height: 60px;
    background: url('img/sprite.png') -462px -20px;
    margin: auto;
}

.bg-adv3 {
  width: 60px; height: 54px;
  background: url('img/sprite.png') -557px -20px;
  margin: auto;
}