body {
  font-family: "Roboto";
}

header {
  width: 100%;
  background-image: url(./images/header-pic.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top right;
}

button {
  cursor: pointer;
}

.logo {
  color: #37447E;
  font-weight: 900;
  font-size: 26px;
  margin-right: 40px;
  margin-left: 40px;
}

h1,
h3 {
  color: #091133;
}

.wrapper {
  text-align: center;
  margin: auto;
  width: 80%;
}

.topheader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 4%;
  margin-bottom: 20%;
}
.topheader .topnav {
  width: 245px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-right: auto;
}
.topheader .topnav a {
  text-decoration: none;
  color: #505F98;
  font-size: 14px;
  padding: 0 5px;
}
.topheader .topnav a:hover {
  transform: scale(1.2);
}
.topheader button {
  width: 160px;
  height: 26px;
  background-color: #111B47;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  padding: 0 10px;
  margin-left: auto;
}
.topheader button:hover {
  background-color: #94a5e9;
}

.headertxt {
  max-width: 540px;
  text-align: left;
  padding-bottom: 40%;
}
.headertxt h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.headertxt p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25%;
}
.headertxt .headerbtns {
  display: flex;
}
.headertxt .headerbtns button {
  width: 190px;
  height: 36px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.headertxt .headerbtns button:hover {
  background-color: #94a5e9;
}
.headertxt .headerbtns .dark {
  background-color: #111B47;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 2px;
  margin-right: 30px;
}
.headertxt .headerbtns .light {
  background-color: transparent;
  border: 2px solid #091133;
  border-radius: 2px;
  color: #091133;
}

h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 16px;
}

p {
  color: #6F7CB2;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.bigblock {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15%;
}
.bigblock .txtblock {
  width: 46%;
  text-align: left;
  margin-top: 5%;
  margin-right: 20px;
}
.bigblock .txtblock .last {
  margin-bottom: 15%;
}
.bigblock .txtblock .iconblock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bigblock .txtblock .iconblock .iblock {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 139px;
  margin-right: 5px;
}
.bigblock .txtblock .iconblock .iblock h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}
.bigblock .txtblock .iconblock .iblock p {
  color: #5D6970;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}
.bigblock .picblock {
  width: 50%;
}
.bigblock .picblock img {
  max-width: 100%;
}

.three-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13%;
}
.three-blocks .picblockleft {
  margin-right: 10%;
  width: 50%;
}
.three-blocks .picblockleft img {
  max-width: 100%;
}
.three-blocks .txtblockright {
  width: 40%;
  text-align: left;
  margin-top: 4%;
}
.three-blocks .txtblockright .txt-btn {
  width: 150px;
  height: 32px;
  text-align: center;
  border-radius: 2px;
  border: 2px solid transparent;
  background-color: #111B47;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: 40px;
}
.three-blocks .txtblockright .txt-btn:hover {
  background-color: #94a5e9;
}

.border-block {
  background-color: #fff;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  height: 120px;
  position: relative;
  z-index: 2;
}

.price-block {
  background-color: #eff2ff;
  padding-top: 15%;
  margin-top: -100px;
}
.price-block .price-txt {
  width: 40%;
  margin: auto;
  text-align: center;
}
.price-block .price-txt span {
  display: block;
}
.price-block .price-txt .price {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #222F65;
  margin-top: 35px;
}
.price-block .price-txt .underprice {
  color: #37447E;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
.price-block .price-txt .beforebtn {
  margin-top: 8%;
  margin-bottom: 10px;
  color: #5D6970;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.price-block .price-txt .price-btn {
  width: 190px;
  height: 32px;
  background-color: #111B47;
  border: 2px solid transparent;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  margin-bottom: 25%;
}
.price-block .price-txt .price-btn:hover {
  background-color: #94a5e9;
}

footer {
  background-color: #E7ECFF;
}
footer .topfooter {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 0;
  border-bottom: 1px solid #CDD1D4;
}
footer .topfooter .copyright {
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939EA4;
  padding: 0 10px;
}
footer .topfooter button {
  margin-left: auto;
  width: 109px;
  height: 26px;
  background-color: #111B47;
  color: #fff;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 2px;
}
footer .topfooter button:hover {
  background-color: #94a5e9;
}
footer .bottomfooter {
  padding: 3% 0 3.5% 0;
  display: flex;
  flex-wrap: wrap;
}
footer .bottomfooter .footernav {
  width: 245px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-right: auto;
}
footer .bottomfooter .footernav a {
  text-decoration: none;
  color: #929ECC;
  font-weight: 300;
  font-size: 14px;
  padding: 0 5px;
}
footer .bottomfooter .footernav a:hover {
  transform: scale(1.2);
}
footer .bottomfooter .social-media {
  width: 245px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 15px;
  margin-left: auto;
}
footer .bottomfooter .social-media a:hover {
  transform: scale(1.4);
}

@media (max-width: 760px) {
  .topheader {
    margin-bottom: 10%;
  }

  .headertxt {
    padding-bottom: 20%;
  }
  .headertxt h1 {
    font-size: 30px;
    line-height: 46px;
  }
  .headertxt p {
    font-size: 16px;
    margin-bottom: 15%;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .three-blocks {
    margin-bottom: 8%;
  }
}
@media (max-width: 705px) {
  header {
    background-image: none;
    background-color: #E7ECFF;
  }

  .topheader {
    flex-direction: column;
    margin-bottom: 7%;
    border-bottom: 1px solid #111B47;
  }
  .topheader .topnav {
    order: 2;
    margin: 15px 0;
  }
  .topheader button {
    order: 3;
    margin: 0;
    margin-bottom: 20px;
  }

  .headertxt .headerbtns button {
    font-size: 12px;
  }

  .bigblock {
    flex-direction: column;
  }
  .bigblock .txtblock {
    width: 100%;
    order: 2;
    text-align: center;
  }
  .bigblock .txtblock .iconblock {
    text-align: left;
  }
  .bigblock .picblock {
    width: 100%;
    margin-top: 5%;
  }

  .three-blocks {
    flex-direction: column;
  }
  .three-blocks .picblockleft {
    width: 100%;
  }
  .three-blocks .txtblockright {
    width: 100%;
    text-align: center;
  }

  .border-block {
    height: 30px;
  }

  .price-block {
    margin-top: -30px;
  }
  .price-block .price-txt {
    width: 80%;
  }
  .price-block .price-txt .price {
    font-size: 40px;
  }
  .price-block .price-txt .underprice {
    font-size: 14px;
  }
  .price-block .price-txt .beforebtn {
    font-size: 12px;
  }
  .price-block .price-txt .price-btn {
    margin-bottom: 15%;
  }

  footer {
    display: flex;
  }
  footer .topfooter {
    flex-direction: column;
    border-bottom: none;
  }
  footer .topfooter .copyright {
    font-size: 12px;
    order: 2;
    margin: 15px 0;
  }
  footer .topfooter .logo {
    font-size: 22px;
  }
  footer .topfooter button {
    margin: 0;
    order: 3;
    align-self: center;
  }
  footer .bottomfooter {
    flex-direction: column;
    padding-top: 6%;
    margin-right: 5%;
  }
  footer .bottomfooter .footernav {
    max-width: 150px;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #939EA4;
  }
  footer .bottomfooter .footernav a {
    font-size: 12px;
  }
  footer .bottomfooter .social-media {
    max-width: 150px;
    margin: 15px 0;
  }
}

/*# sourceMappingURL=style.css.map */
