body {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  font-family: Helvetica;
  font-size: 18px;
  height: 100vh;
  color: #4B5D68;
}

.content {
 display: flex;
 flex-direction: column;
 align-items: center;
} 

header, main, footer {
  width: 70%;
}

.topbar {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.logo-img {
  margin-right: auto;
}

nav {
  margin-right: auto;
}

.header-menu {
  display: flex;
}

.header-menu li {
  margin-left: 40px;
}
.header-menu li:first-child {
  margin-left: 0;
}

.header-menu-link a{
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
text-decoration: none;
color: #4B5D68;
}

.about-link a {
  font-weight: 800;
}

.header-menu-link a:hover {
  text-shadow: 0px 5px 5px rgba(156, 105, 226, 0.7);
}

.header-request {
  margin-left: auto;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
  padding: 17px 29px 17px 29px;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header-request span {
  margin-right: 20px;
}

.header-request:hover {
  box-shadow: 0px 5px 5px rgba(156, 105, 226, 0.5);
}

.header-content {
  margin-top: 130px;
  width: 60%;
}

h1 {
font-weight: bold;
font-size: 80px;
line-height: 110%;
color: #212353;
}

.header-txt {
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
margin-top: 50px;
width: 65%;
}

.header-more {
  margin-top: 50px;
  background: #9C69E2;
  border-radius: 50px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  padding: 16px 37px;
  border: 1px solid transparent;
  color: #FFFFFF;
}

.header-more:hover {
  border: 1px solid #9C69E2;
  background: white;
  color: #9C69E2;
}

header {
  background-image: url(./images/header-pic.png);
  background-repeat: no-repeat;
  background-position: top 150% left 360%;
}